.App {
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}
*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body ,p ,h2 button input{
  font-family: 'Courier New', Courier, monospace;
}
.Posts{
  width: 70%;
  background-color: #fff;
  border: 1px solid #666;
  padding: 10px;
  margin: 10px auto;
}
.Post button{
  width: 150px;
  display:  inline-block;
  margin: 5px;
}





@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
